<div class="table-responsive" margin-vertical>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="2%" text-center>
                    <input type="checkbox" [ngModel]="IsSelectedAll" (ngModelChange)="ToggleSelectAll()">
                </th>
                <th width="15%" text-center>{{'item.avatar'|translate}}</th>
                <th width="40%">{{'item.name'|translate}}</th>
                <th width="15%"  text-center>{{'item.timestamp'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Items" (click)="ToggleSelect(item)">
                <td text-center (click)="$event.stopPropagation()" class="align-middle">
                    <input type="checkbox" [ngModel]="Selected.has(item)" (ngModelChange)="SelectionChanged($event, item)">
                </td>
                <td class="position-relative" text-center>
                    <img width="60" height="60" src="{{item.AvatarUrl === null ? 'assets/images/pic-sm-empty.gif' : item.AvatarUrl}}">
                    <div class="package" *ngIf="item.IsPackage"></div>
                </td>
                <td class="align-middle">{{item.Name}}</td>
                <td class="align-middle">{{item.Timestamp|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer" *ngIf="IsModal">
    <button type="button" class="btn btn-sm btn-default" (click)="OnClosed()" >{{'button.cancle'|translate}}</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="ButtonOK()" >{{'button.confirm'|translate}}</button>
</div>
