<div class="frame-dialog">
    <div class="frame-content">
        <table class="table table-bordered table-hover">
            <thead>
                <th width="5%"></th>
                <th>Domain</th>
            </thead>
            <tr *ngFor="let DomainModel of DomainModels">
                <td (click)="$event.stopPropagation()">
                    <label nz-checkbox [(ngModel)]="DomainModel.IsSelected"></label>
                </td>
                <td>{{DomainModel.Source.Name}}</td>
            </tr>
        </table>
    </div>
    <div class="frame-footer">
        <button class="btn btn-sm btn-primary" (click)="BtnClicked()">{{'button.publish'|translate}}</button>
    </div>
</div>
