<ng-template [ngIf]="toggleTheme">
    <div class="card card-receiv">
        <div class="card-header" p-5>
            <button class="btn btn-sm btn-link" pull-right (click)="OpenModal(AddressModal)">新增收货地址</button>
            <span class="title">收货人信息</span>
        </div>
        <div class="card-body">
            <div class="list-add">
                <ng-template [ngIf]="!IsShowAddresses && Selected">
                    <ul class="row" align-items-center>
                        <li class="col-4 col-md-2">
                            <span class="text-nowrap text-truncate outline default">
                                {{Selected.Recipient}}
                                <i class="selected"></i>
                            </span>
                        </li>
                        <li class="col-8 col-md-10">
                            <p>
                                <span class="text-nowrap">{{Selected.Tel}}
                                    <em class="action-btn">
                                        <span class="addr-default" *ngIf="Selected.IsDefault">默认</span>
                                        <button class="btn btn-sm btn-link" *ngIf="!Selected.IsDefault" (click)="SetDefault(Selected)">设为默认</button>
                                        <button class="btn btn-sm btn-link" (click)="OpenModal(AddressModal,Selected)">编辑</button>
                                        <button class="btn btn-sm btn-link" (click)="Remove(Selected)">删除</button>
                                    </em>
                                </span>
                                <span class="text-nowrap text-truncate location">
                                        <i icon>&#xf1e4;</i> <em text-gray-light>{{Selected.Country}}{{Selected.City}} {{Selected.Street}}</em>
                                </span>
                            </p>
                        </li>
                    </ul>
                </ng-template>
                <ng-template [ngIf]="IsShowAddresses">
                    <div [ngStyle]="{overflow: 'hidden', height: 'auto'}">
                        <ng-container *ngFor="let addr of AddressList">
                            <ul class="row" align-items-center>
                                <li class="col-4 col-md-2">
                                    <span class="text-nowrap text-truncate outline" [class.default]="addr===Selected" (click)="Selected=addr;IsShowAddresses=false">
                                        {{addr.Recipient}}
                                        <i class="selected"></i>
                                    </span>
                                </li>
                                <li class="col-8 col-md-10">
                                    <p>
                                        <span class="text-nowrap">
                                            {{addr.Tel}}
                                            <em class="action-btn">
                                                <span class="addr-default" *ngIf="addr.IsDefault">默认</span>
                                                <button class="btn btn-sm btn-link" *ngIf="!addr.IsDefault" (click)="SetDefault(addr)">设为默认</button>
                                                <button class="btn btn-sm btn-link" (click)="OpenModal(AddressModal,addr)">编辑</button>
                                                <button class="btn btn-sm btn-link" (click)="Remove(addr)">删除</button>
                                            </em>
                                        </span>
                                        <span class="text-nowrap text-truncate location">
                                            <i icon>&#xf1e4;</i> <em text-gray-light>{{addr.Country}}{{addr.City}} {{addr.Street}}</em>
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </ng-template>
                <div class="show-more" text-center *ngIf="AddressList.length > 1" (click)="IsShowAddresses = !IsShowAddresses">
                    <a href="javascript:void(0)">更多地址<i class="arrow" [class.up]="IsShowAddresses"></i></a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="!toggleTheme">
    <div text-right n-m-t-45>
        <button type="button" class="btn btn-primary btn-sm" (click)="OpenModal(AddressModal)">{{'profile.delivery.new'|translate}}</button>
    </div>
    <div class="card" margin-top *ngFor="let addr of AddressList">
        <h6 class="card-header">
            {{addr.Recipient}}<span m-l-10>{{addr.Country}}{{addr.City}}</span>
            <span class="default-tips m-l-10" [class.action-tips]="addr.IsDefault" (click)="SetDefault(addr)">{{'profile.delivery.default'|translate}}</span>
            <button type="button" class="btn btn-link btn-sm" (click)="OpenModal(AddressModal,addr)">{{'button.edit'|translate}}</button>
            <i icon pull-right f-24 text-gray-light cursor-pointer (click)="Remove(addr)">&#xf2c1;</i>
        </h6>
        <div class="card-block">
            <div class="form-group row align-items-center" no-margin>
                <label class="col-4 col-md-2 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.recipient'|translate}}：</label>
                <div class="col-8 col-md-4">
                    {{addr.Recipient}}
                </div>
                <label class="col-4 col-md-2 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.tel'|translate}}：</label>
                <div class="col-8 col-md-4">
                    {{addr.Tel}}
                </div>
            </div>

            <div class="form-group row row align-items-center" no-margin>
                <label class="col-4 col-md-2 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.location'|translate}}：</label>
                <div class="col-8 col-md-10">
                    {{addr.Country}}{{addr.City}}{{addr.Street}}
                </div>
            </div>
            <div class="form-group row row align-items-center" no-margin>
                <label class="col-4 col-md-2 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.zip'|translate}}：</label>
                <div class="col-8 col-md-10">
                    {{addr.Zip}}
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #AddressModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title" p-l-10>{{ModalTitle}}</h6>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" p-30>
        <form novalidate [formGroup]="Delivery" autocomplete="off">
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.recipient'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="Recipient" [(ngModel)]="ModalAddress.Recipient" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.tel'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="Tel" [(ngModel)]="ModalAddress.Tel" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.country'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="Country" [typeahead]="SearchCountry" [(ngModel)]="ModalAddress.Country" (input)="OnCountryInput($event)" (selectItem)="SelectCountry($event)" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.city'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="City" [typeahead]="SearchCity" [(ngModel)]="ModalAddress.City" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.street'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="Street" [(ngModel)]="ModalAddress.Street" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" text-right text-nowrap text-gray-light>{{'profile.delivery.zip'|translate}}：</label>
                <div class="col-9">
                    <input type="text" class="form-control" formControlName="Zip" [(ngModel)]="ModalAddress.Zip" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="d()">{{'button.close'|translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="!Delivery.valid" (click)="c()">{{'button.ok'|translate}}</button>
    </div>
</ng-template>
