<div class="bread-layer" *ngIf="IsTitle">
        pictures
</div>

<div class="container-layer">
    <div class="row">
        <div class="col-md-6">
                <div class="d-inline-block">
                    <input type="file" (change)="UploadImage($event.target.files)" multiple="multiple">
                    <button class="btn btn-sm btn-outline-primary" type="button" (click)="OnSelectedEnd()">{{'button.add'|translate}}</button>
                </div>
        </div>
    </div>
    <ul class="row row-thumbnail" margin-top>
        <li class="col-2" *ngFor="let UploadedFile of UploadedFiles" (click)="SelectedPicture(UploadedFile)">
            <img [src]="UploadedFile.Path">
            <!-- <ng-template [ngIf]="UploadedFile.selected"> -->
                <div class="flex-btn">
                    <button class="btn-select"><i icon>&#xf3ff;</i></button>
                </div>
            <!-- </ng-template> -->
        </li>
    </ul>
</div>
