<div class="container-layer" style="min-height:500px">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-file-upload">
                <label for="upload_file">{{'button.add'|translate}}</label>
                <input type="file" id="upload_file" (change)="UploadImage($event.target.files)" accept=".jpg, .jpeg, .png" multiple>
            </button>
            <button type="button" class="btn btn-primary">{{'button.del'|translate}}</button>
        </div>
    </div>
    <div #content>
        <ul class="row row-thumbnail" margin-top>
            <li class="col-2" *ngFor="let FileModel of FileModels" (click)="FileClicked(FileModel)">
                <div class="img-container" [style.background-image]="'url(' + FileModel.Source.Path + ')'"></div>
                <ng-template [ngIf]="FileModel.IsSelected">
                    <div class="flex-btn">
                        <button class="btn-select"><i icon>&#xf3ff;</i></button>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer" *ngIf="IsInModalMode">
    <button type="button" class="btn btn-default" (click)="ButtonCancel()" >{{'button.cancle'|translate}}</button>
    <button type="button" class="btn btn-primary" (click)="ButtonOK()" >{{'button.confirm'|translate}}</button>
</div>
