.violet{
    background-color: #97b9e6;
    background-image: url(/assets/images/overlay.png), -moz-linear-gradient(45deg, #8f96d2 15%, #97b9e6 85%);
    background-image: url(/assets/images/overlay.png), -webkit-linear-gradient(45deg, #8f96d2 15%, #97b9e6 85%);
    background-image: url(/assets/images/overlay.png), -ms-linear-gradient(45deg, #8f96d2 15%, #97b9e6 85%);
    background-image: url(/assets/images/overlay.png), linear-gradient(45deg, #8f96d2 15%, #97b9e6 85%);
}
