.detail-spec {
    color: $gray-light;
    a {
        display: inline-block;
        margin-right: 5px;
        padding: 2px 15px;
        border: solid 1px $gray-lighter;
        &.active {
            border-color: $red;
        }
    }
}

.detail-description {
    background-color: $gray-lighter;
}

.tag-region {
    vertical-align: middle;
    padding: 2px 5px;
    display: inline-block;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    background-color: $site-primary;
}

.gallery-top {
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-thumbs {
    position:relative;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 96%;
    border:solid 2px transparent;
    // opacity: 0.4;
    &.active{
        border:solid 2px $red;
    }
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.gallery-view {
    display: none;
    z-index: 999999999;
    position:absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color:#f8f8f8;
}

.mask{
    display: none;
    position: absolute;
    background: rgba(252, 242, 157, .5);
    cursor: move;
}

.gallery-bigImg{
    width: 200%;
    // transform: scale(1.5);
    position: absolute;
    top:0;
    left:0;
}
