.navbar-ultra{
    min-height:90px;
    .logo{
        min-height:90px;
        font-size:3rem;
    }
    .navbar-nav{
        .nav-item{
            text-transform:uppercase;
            padding:0  15px;
        }
    }
}

.navbar-fixed{
    min-height:70px;
    .logo{
        min-height:70px;
        font-size:2.4rem;
    }
    .navbar-nav{
        .nav-item > a.btn{
            font-size:.8rem;
        }
    }
    .navbar-right-top{
        .nav-item{
            a{
                font-size:.725rem;
            }
            .nav-hover-item li{
                font-size:.7rem;
            }
        }
    }
}

.nav-item{
    .nav-hover-item{
        min-width:100%;
        background: $white;
        position: absolute;
        display: none;
        li{
            cursor: pointer;
            text-transform:capitalize;
            padding:0.375rem 0.75rem;
            font-size:1rem;
            &:hover{
                color: $gray-light;
            }
        }
    }
    >a.btn{
        @extend .animate;
        font-weight:500;
        color: $gray-light;
        border:none;
        &:not(.disabled).active{
            background-color: $white;
            color: $gray-dark;
            i{
                color:#82d0cb;
            }
        }
    }
    &:hover{
        >a.btn{
            background-color: $white;
            color: $gray-dark;
            i{
                color:#82d0cb;
            }
        }
        .nav-hover-item{
            display: block;
        }
    }
}
.logo{
    @extend .animate;
    @include flex-item-center(column);
    color: $white;
    background-color:#82d0cb;
    span{
        font-size:.8rem;
        display: block;
        padding:0 10px;
    }
}
