<div class="bread-layer">
    <ng-template [ngIf]="App.IsMinScreen">
        <div pull-right>
                <div class="d-inline-block">
                    <button class="btn btn-sm btn-outline-primary" type="button" (click)="OpenProductEditModal(template)">{{'button.add'|translate}}</button>
                </div>
                <div class="dropdown d-inline-block" ngbDropdown>
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" ngbDropdownToggle>
                        {{'items.list.categories'|translate}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">....</a>
                        <a class="dropdown-item">....</a>
                        <a class="dropdown-item">....</a>
                    </div>
                </div>
        </div>
    </ng-template>
</div>
<div class="container-layer">
    <div class="row">
        <div class="col-md-6">
            <ng-template [ngIf]="!App.IsMinScreen">
                <div class="d-inline-block">
                    <button class="btn btn-sm btn-outline-primary" type="button" (click)="OpenProductEditModal(template)">{{'button.add'|translate}}</button>
                </div>
                <div class="d-inline-block">
                    <button class="btn btn-sm btn-primary" type="button" [disabled]="SelectedItemNum < 2" (click)="Open(PublishModal)">{{'items.list.pack'|translate}}</button>
                </div>
                <div class="dropdown d-inline-block" ngbDropdown>
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" ngbDropdownToggle>
                        {{'items.list.categories'|translate}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">....</a>
                        <a class="dropdown-item">....</a>
                        <a class="dropdown-item">....</a>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="col-md-6" text-right>
            <div class="d-inline-block">
                <button class="btn btn-sm btn-outline-primary" type="button" [disabled]="NullItemSelected">{{'button.up'|translate}}</button>
                <button class="btn btn-sm btn-outline-primary" type="button" [disabled]="NullItemSelected">{{'button.down'|translate}}</button>
                <button class="btn btn-sm btn-outline-danger" type="button" (click)="Remove()" [disabled]="NullItemSelected">{{'button.del'|translate}}</button>
            </div>
        </div>
    </div>
    <div class="table-responsive" margin-vertical>
            <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th width="2%"><input type="checkbox" [(ngModel)]="AllItemSelected" (ngModelChange)="ToggleSelectAll()"></th>
                        <th width="12%">{{'items.list.field.id'|translate}}</th>
                        <th width="15%">{{'items.list.field.name'|translate}}</th>
                        <th width="12%" text-center>{{'items.list.field.timestamp'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ItemModel of ItemModels" (click)="OpenProductEditModal(template,ItemModel.Source)" >
                            <td text-center (click)="$event.stopPropagation()">
                                <input type="checkbox" [(ngModel)]="ItemModel.IsSelected" (ngModelChange)="ToggleSelect(ItemModel)">
                            </td>
                            <td>
                                <img width=60 src="assets/images/portfolio-1.jpg">
                            </td>
                            <td>{{ItemModel.Source.Name}}</td>
                            <td text-center>100</td>
                            <td></td>
                            <td text-center text-nowrap>ItemModel.Source.Timestamp</td>
                            <td>100</td>
                            <td text-center><button (click)="Remove(ItemModel);$event.stopPropagation()">{{'button.del'|translate}}</button></td>
                        </tr>
                    </tbody>
                  </table>

    </div>
</div>

<ng-template #template let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ModalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="{{'items.list.field.info'|translate}}">
                    <ng-template ngbTabContent>
                            <div class="row justify-content-md-center" align-items-center  m-t-30>
                                <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.name'|translate}}：</label>
                                <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="CurrEditProduct.Name"></div>
                                <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.snap'|translate}}：</label>
                                <div class="col-md-3"><input type="text" class="form-control"></div>
                            </div>
                            <div class="row justify-content-md-center" align-items-center m-t-15>
                                <label text-gray-light text-nowrap text-right class="col-md-2" for="member-name">{{'produce.public.pro_img'|translate}}：</label>
                                <div class="col-md-8">
                                    <file-upload viewId="image_1" *ngIf="!CurrEditProduct.AvatarUrl" [num]="MaxAvatar" (ArrayImage)="getFileData($event)"></file-upload>
                                    <!-- <span class="img-preview" id="image-1">
                                        <img [src]="CurProduct.AvatarUrl" *ngIf="CurProduct.AvatarUrl != null">
                                    </span>
                                    <button type="button" class="btn btn-lg btn-link btn-file" *ngIf="CurProduct.AvatarUrl == null">
                                        <label for="fileupload-1"><i icon f-50>&#xf100;</i></label>
                                        <input type="file" id="fileupload-1" (change)="UpdateImageDisplay($event.target.files,1)" accept=".jpg, .jpeg, .png">
                                    </button> -->
                                </div>
                            </div>
                            <div class="row justify-content-md-center" align-items-center m-t-5>
                                <label text-gray-light text-nowrap text-right class="col-md-2" for="member-name">其它：</label>
                                <div class="col-md-8">
                                    <file-upload viewId="image_2" [num]="MaxPicture" (ArrayImage)="getFileData($event)"></file-upload>
                                    <!-- <span class="img-preview" id="image-2">
                                        <ng-container *ngFor="let img of CurProduct.Pictures">
                                            <img [src]="img">
                                        </ng-container>
                                    </span>
                                    <button type="button" class="btn btn-lg btn-link btn-file" >
                                        <label for="fileupload-2"><i icon f-50>&#xf100;</i></label>
                                        <input type="file" id="fileupload-2" (change)="UpdateImageDisplay($event.target.files,2)" accept=".jpg, .jpeg, .png" multiple>
                                    </button> -->
                                </div>
                            </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'produce.public.commodity_attributes'|translate}}">
                    <ng-template ngbTabContent>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'produce.public.related_goods'|translate}}">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="d()" >{{'button.close'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="c()" >{{'button.ok'|translate}}</button>
    </div>
</ng-template>
