.row-solet{
    li{
        @include flex-item-center(row);
        min-height:230px;
        &:nth-child(1){
            background-color:#eeeeee;
        }
        &:nth-child(2){
            background-color:#ffffff;
        }
        &:nth-child(3){
            background-color:#d9d9d9;
        }
    }
}

.row-header{
    min-height:80px;
    background-color: #f7f7f7;
}
