.detail-spec{
    color: $gray-light;
    a{
        display: inline-block;
        margin-right: 5px;
        padding: 2px 15px;
        border: solid 1px $gray-lighter;
        &.active{
            border-color: $red;
        }
    }
}

.detail-description{
    background-color: $gray-lighter;
}

.tag-region{
    vertical-align: middle;
    padding: 2px 5px;
    display: inline-block;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    background-color: $site-primary;
}
