.ultra-topic {
    overflow: hidden;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1,
    p {
        text-align: center;
        color: white;
    }
}
