.row{

    &[no-padding]{
        >[class*="col-"]{
            padding:0
        }
    }

    [class*="col-"]{
        &[align-self-center] {
            align-self: center;
        }
    }

    &.row-thumbnail{
        li{
            margin-top: 15px;
            margin-bottom: 15px;
            &:hover img, &.active img{
                opacity: .5;
            }
        }
    }

    .group-buttons{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        button{
            @include appearance-none();
            color: $green;
            background-color: transparent;
            font-size:2.4rem;
        }
    }

}
