$iconfontPath:'/assets/fonts/';
@font-face {
    font-family: 'iconfont';
    src: url($iconfontPath + 'iconfont.eot?yw316w');
    src: url($iconfontPath + 'iconfont.eot?yw316w#iefix') format('embedded-opentype'), url($iconfontPath + 'iconfont.ttf?yw316w') format('truetype'), url($iconfontPath + 'iconfont.woff?yw316w') format('woff'), url($iconfontPath + 'iconfont.svg?yw316w#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[icon] {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-del:before {
    content: "\e900";
}

.icon-edit:before {
    content: "\e901";
}

.icon-user:before {
    content: "\e902";
}

.icon-Distribution:before {
    content: "\e903";
}

.icon-Public-platform:before {
    content: "\e904";
}

.icon-Settlement:before {
    content: "\e905";
}

.icon-comment:before {
    content: "\e906";
}

.icon-product:before {
    content: "\e907";
}

.icon-order:before {
    content: "\e908";
}

.icon-configure:before {
    content: "\e909";
}

.icon-facebook:before {
    content: "\e90a";
}

.icon-TWITTER:before {
    content: "\e90b";
}

.icon-youtube:before {
    content: "\e90c";
}

.icon-lang:before {
    content: "\e90d";
}

.icon-weixin:before {
    content: "\e90e";
}

.icon-weibo:before {
    content: "\e90f";
}

.icon-qq:before {
    content: "\e910";
}

.icon-ion-ios-add-circle-outline:before {
    content: "\f100";
}

.icon-ion-ios-add:before {
    content: "\f102";
}

.icon-ion-ios-remove:before {
    content: "\f1fc";
}

.icon-edit-thin:before {
    content: "\f2c0";
}

.icon-close:before {
    content: "\f2c1";
}

.icon-arrow-up:before {
    content: "\f3d8";
}

.icon-double-arrow-down:before {
    content: "\e911";
}

.icon-shop-cart:before {
    content: "\e912";
}

.icon-lock:before {
    content: "\e913";
}

.icon-facebook2:before {
    content: "\e914";
}

.icon-twtter:before {
    content: "\e915";
}

.icon-home:before {
    content: "\e916";
}

.icon-ion-ios-radio-button-off:before {
    content: "\f1f6";
}

.icon-ion-ios-checkmark-circle-outline:before {
    content: "\f149";
}

.icon-ion-ios-pin-outline:before {
    content: "\f1e4";
}

.icon-ion-ios-search:before {
    content: "\f4a5";
}


.icon-login-out:before {
    content: "\e917";
}

.icon-myorder:before {
    content: "\e918";
}

.icon-ultracreation:before {
    content: "\e919";
}


.icon-arrow-up-thin:before {
    content: "\e91a";
}


.icon-ion-ios-checkmark:before {
    content: "\f3ff";
  }


