// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$input-border-focus:             lighten($brand-primary, 25%) !default;


$site-primary:             #4fa4fe !default;
$size:16px;

$InsideOutsideEdge:(
    margin: (margin, $size),
    no-margin:(margin, 0),
    margin-horizontal:(margin,0 $size),
    margin-vertical:(margin,$size 0),
    margin-left:(margin-left,$size),
    margin-right:(margin-right,$size),
    margin-top:(margin-top,$size),
    margin-bottom:(margin-bottom,$size),
    padding:(padding,$size),
    no-padding:(padding,0),
    padding-horizontal:(padding,0 $size),
    padding-vertical:(padding,$size 0),
    padding-left:(padding-left,$size),
    padding-right:(padding-right,$size),
    padding-top:(padding-top,$size),
    padding-bottom:(padding-bottom,$size)
);
$InsideOutsideTag: 'm','n-m','p';
$InsideOutsideDirection: '','v','h','l','r','t','b';

