<div class="row">
    <div class="col-md-6">
        <div class="dropdown d-inline-block" ngbDropdown>
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"  (click)="App.ShowToast('success','wwwwwwww',1000)" ngbDropdownToggle>
                {{'items.list.categories'|translate}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item">....</a>
                <a class="dropdown-item">....</a>
                <a class="dropdown-item">....</a>
            </div>
        </div>
        <div class="d-inline-block">
            <button class="btn btn-sm btn-outline-primary" type="button" (click)="CreateNewProduct()">{{'button.add'|translate}}</button>
        </div>
    </div>
    <div class="col-md-6" text-right>
        <div class="d-inline-block">
            <button class="btn btn-sm btn-primary" type="button" [disabled]="Selected.size<2" (click)="CreateNewPackage()">{{'items.list.pack'|translate}}</button>
        </div>
        <div class="d-inline-block">
            <button class="btn btn-sm btn-outline-primary" type="button" (click)="Publish()">{{'button.publish'|translate}}</button>
        </div>
    </div>
</div>

<div class="table-responsive" margin-vertical>
    <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="2%" text-center>
                    <input type="checkbox" [(ngModel)]="IsSelectedAll" (ngModelChange)="ToggleSelectAll()">
                </th>
                <th width="5%">{{'item.avatar'|translate}}</th>
                <th width="15%">{{'item.name'|translate}}</th>
                <th width="12%" text-center>{{'item.timestamp'|translate}}</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Items" (click)="Edit(item)" >
                    <td text-center (click)="$event.stopPropagation()" style="vertical-align:middle">
                        <input type="checkbox" [ngModel]="Selected.has(item)" (ngModelChange)="SelectionChanged($event, item)">
                    </td>
                    <td class="position-relative">
                        <img width="60" height="60" src="{{item.AvatarUrl}}">
                        <div class="package" *ngIf="item.IsPackage"></div>
                    </td>
                    <td>{{item.Name}}</td>
                    <td text-center>
                        <button class="btn btn-sm" (click)="Remove(item);$event.stopPropagation()">{{'button.del'|translate}}</button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>
