<div class="row">
    <div class="col-md-6">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn-sm form-control dropdown-toggle" (click)="App.ShowToast('success','wwwwwwww',1000)">
                {{'items.list.categories'|translate}}
                <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0)">......</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0)">......</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="javascript:void(0)">......</a>
                </li>
            </ul>
        </div>
        <div class="d-inline-block">
            <button class="btn btn-sm btn-outline-primary" type="button" (click)="CreateNewProduct()">{{'button.add'|translate}}</button>
        </div>
    </div>
    <div class="col-md-6" text-right>
        <div class="d-inline-block">
            <button class="btn btn-sm btn-primary" type="button" [disabled]="Selected.size<2" (click)="CreateNewPackage()">{{'items.list.pack'|translate}}</button>
        </div>
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn-sm form-control dropdown-toggle" placement="bottom right">
                {{'button.publish'|translate}}
                <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <ng-container *ngFor="let item of Domains; let i = index">
                    <li role="menuitem" text-right>
                        <a class="dropdown-item" href="javascript:void(0)"><img [src]="item.AvatarUrl">{{item.Name}}<button class="btn btn-sm btn-primary" m-l-10>{{'button.publish'|translate}}</button></a>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== Domains.length-1"></li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<div class="table-responsive" margin-vertical>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="2%" text-center>
                    <input type="checkbox" [ngModel]="IsSelectedAll" (ngModelChange)="ToggleSelectAll()">
                </th>
                <th width="15%" text-center>{{'item.avatar'|translate}}</th>
                <th width="50%">{{'item.name'|translate}}</th>
                <th  text-center>{{'item.timestamp'|translate}}</th>
                <th width="15%" text-center>{{'item.action'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Items" (click)="Edit(item)">
                <td text-center (click)="$event.stopPropagation()" class="align-middle">
                    <input type="checkbox" [ngModel]="Selected.has(item)" (ngModelChange)="SelectionChanged($event, item)">
                </td>
                <td class="position-relative" text-center>
                    <img width="60" height="60" src="{{item.AvatarUrl === null ? 'assets/images/pic-sm-empty.gif' : item.AvatarUrl}}">
                    <div class="package" *ngIf="item.IsPackage"></div>
                </td>
                <td class="align-middle">{{item.Name}}</td>
                <td class="align-middle">{{item.Timestamp|date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="align-middle" text-center>
                    <button class="btn btn-sm" (click)="Remove(item);$event.stopPropagation()">{{'button.del'|translate}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
