<div class="table-responsive">
    <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="2%" text-center>
                    <label nz-checkbox [(ngModel)]="AllItemSelected" (ngModelChange)="ToggleSelectAll()"></label>
                <th width="12%">{{'items.list.field.id'|translate}}</th>
                <th width="15%">{{'items.list.field.name'|translate}}</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ItemModel of ItemModels" (click)="ToggleSelect(ItemModel)" >
                    <td text-center (click)="$event.stopPropagation()">
                        <label nz-checkbox [(ngModel)]="ItemModel.IsSelected"></label>
                    </td>
                    <td>
                        <img width=60 src="{{ItemModel.Source.AvatarUrl}}">
                    </td>
                    <td>{{ItemModel.Source.Name}}</td>
                </tr>
            </tbody>
    </table>
</div>

<div class="modal-footer" *ngIf="IsInModalMode">
    <button type="button" class="btn btn-sm btn-default" (click)="OnClosed()" >{{'button.cancle'|translate}}</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="ButtonOK()" >{{'button.confirm'|translate}}</button>
</div>

