<div class="table-responsive">
    <table class="table table-bordered table-hover table-fixed">
            <thead>
            <tr>
                <th class="col-1" text-center>
                    <input type="checkbox" [ngModel]="AllItemSelected" (ngModelChange)="ToggleSelectAll()">
                <th class="col-5">{{'items.list.field.id'|translate}}</th>
                <th class="col-6">{{'items.list.field.name'|translate}}</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ItemModel of ItemModels" (click)="ToggleSelect(ItemModel)" >
                    <td class="col-1" text-center (click)="$event.stopPropagation()">
                        <input type="checkbox" [(ngModel)]="ItemModel.IsSelected">
                    </td>
                    <td class="col-5">
                        <img width=60 src="{{ItemModel.Source.AvatarUrl}}">
                    </td>
                    <td class="col-6">{{ItemModel.Source.Name}}</td>
                </tr>
            </tbody>
    </table>
</div>

<div class="modal-footer" *ngIf="IsModal">
    <button type="button" class="btn btn-sm btn-default" (click)="OnClosed()" >{{'button.cancle'|translate}}</button>
    <button type="button" class="btn btn-sm btn-primary" (click)="ButtonOK()" >{{'button.confirm'|translate}}</button>
</div>

