.card{
    .default-tips,.action-tips{
        display: inline-block;
        color:white;
        font-size: 12px;
        padding: 5px;
    }
    .default-tips{
        background-color:$gray;

    }
    .action-tips{
        cursor: pointer;
        background-color:$brand-primary;
    }
    .card-header{
        .title{
            display: inline-block;
            font-size:.9rem;
            padding: 0.25rem 0.5rem;
        }
        button.btn-icon{
            background-color:transparent;
            font-size: 1.8rem;
            margin-top:-5px;
        }
    }
}
.card-body{
    ul.row{
        padding:30px 15px;
        border-bottom:solid 1px #e1e1e1;
        &:last-child{
            border-bottom-color: transparent;
        }
    }
    .card-detail{
        color:#636363;
        margin:0 0 2em 0;
    }
}
