.row{

    &[no-padding]{
        >[class*="col-"]{
            padding:0
        }
    }

    [class*="col-"]{
        &[align-self-center] {
            align-self: center;
        }
    }

    &.row-thumbnail{
        li{
            margin-top: 15px;
            margin-bottom: 15px
        }
    }

}
