img{
    &[rd-out-line]{
        border-radius:50%;
        border:solid 1px #efefef;
        background-color:#f4f4f4;
        padding:10px;
    }
    &[out-line]{
        border:solid 1px #efefef;
        background-color:#f4f4f4;
        padding:10px;
    }
}

.img-preview{
    img{
        width:80px;
        height:80px;
        margin-right:10px;
    }
}
