table.table {
    font-size: .8rem;
    thead th {
        vertical-align: middle;
        white-space: nowrap;
    }
    &[grid-tree] {
        tr.parent {
            background-color: $gray-lighter;
        }
        tr.child-tree {
            td {
                &:first-child {
                    margin-left: 15px; // border-left:solid 1px #ccc;
                    // background:url('/assets/images/child-tree.gif') 15px top repeat-y;
                    background-size: contain;
                }
            }
        }
        tr.last-child-tree {
            td {
                &:first-child {
                    // background:url('/assets/images/last-child-tree.gif') 15px top repeat-y;
                    background-size: contain;
                }
            }
        }
        td {
            vertical-align: middle;
            span.open,
            span.shrink {
                font-family: 'iconfont';
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                margin-left: 5px;
                margin-right: 5px;
                width: 12px;
                height: 12px;
                line-height: 10px;
                text-align: center;
                color: #000;
            }
            span.shrink {
                &:before {
                    content: '\f102';
                }
            }
            span.shrink-child {
                margin-left: 28px
            }
            span.open {
                &:before {
                    content: '\f1fc';
                }
            }
            span.open-child {
                margin-left: 28px
            }
        }
    }
    &.table-header-normal {
        thead {
            th {
                font-weight: normal;
                font-size: 14px;
            }
        }
    }
    &.table-header-center {
        thead {
            th {
                text-align: center;
                &[text-left] {
                    text-align: left;
                }
            }
        }
    }

    tfoot.no-border {
        tr td {
            border: solid 1px transparent;
        }
    }
}

.table-fixed {
    width: 100%;
    tbody {
        height: 200px;
        overflow-y: auto;
        width: 100%;
    }
    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }
    tbody {
        td {
            float: left;
        }
    }
    thead {
        tr {
            th {
                float: left;
            }
        }
    }
}
