.item-detail {
    font-size: 14px;
    .item-avatar-view {
        position: absolute;
        width: 80px;
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        li {
            margin-bottom: 15px;
            img {
                border-radius: 5px;
                border: solid 1px rgb(238, 238, 238);
            }
        }
    }
    h2 {
        padding: 15px 0;
        font-size: 24px;
    }
    h3 {
        font-size: 13px;
        color: #d44d44;
    }
    .split-line {
        overflow: hidden;
        height: 1px;
        border-bottom: solid 1px rgb(238, 238, 238);
    }
    .spec {
        margin-top: 15px;
        padding: 0 15px;
        span {
            display: inline-block;
        }
        li {
            padding: 15px 0;
            &:nth-child(2) {
                border-bottom: dashed 1px rgb(238, 238, 238);
            }
        }
    }
    .param-color {
        span {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
            i {
                display: inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                margin-right: 8px;
                border: solid 2px #F2F2F2;
            }
            em {
                display: inline-block;
                width: 100%;
                height: 100%;
                border: solid 3px white;
                border-radius: 50%;
            }
        }
    }
    .param-spec {
        span {
            cursor: pointer;
            display: inline-block;
            margin-right: 5px;
            padding: 5px 10px;
            border: solid 2px #F2F2F2;
            border-radius: 5px;
            &.active {
                border-color: cornflowerblue;
            }
        }
    }
    .quantity {
        font-size: 14px;
        label {
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin: 0;
            font-size: 18px;
            color: #666;
            border: solid 1px rgb(226, 226, 226);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            font-weight: 600;
            &.decre {
                &:before {
                    font-family: 'iconfont';
                    content: "\f1fc";
                }
            }
            &.incre {
                &:before {
                    font-family: 'iconfont';
                    content: "\f102";
                }
            }
        }
        em {
            margin: 0 10px;
            display: inline-block;
            font-style: normal;
        }
    }
}

.item-other-list {
    margin: 0;
    li {
        margin: 0;
        padding: 0;
    }
    button.btn-add-item {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 30px;
        height: 30px;
        color: white;
        background-color: #e83450;
        border-radius: 3px;
        font-weight: 600;
        font-size: 20px;
        &:before {
            font-family: 'iconfont';
            content: "\f102";
        }
    }
    .item-wrap {
        border: solid 1px #F8F8F8;
    }
    .title,
    .description,
    .price {
        text-align: center;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .description {
        font-size: 12px;
        margin-bottom: 5px;
        color: $gray-light;
    }
    .price {
        font-weight: 600;
        span {
            display: inline-block;
            margin-right: 5px;
        }
        .pricing {
            font-size: 18px;
            color: #de2340;
        }
        .market {
            font-size: 14px;
            color: #c4c4c6;
            text-decoration: line-through;
        }
    }
}

.item-spec-list {
    margin: 0;
    li {
        padding: 15px 20px;
        font-size: 14px;
    }
}

.toolbar-buy{
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    margin-top: 15px;
    padding: 15px 0;
    background-color: #F8F8F8;
    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .title {
        font-size: 14px;
        color: #959595;
    }

    h2, p{
        font-size:14px;
        margin: 0;
    }

    h2{
        font-weight: 600;
        margin-bottom: 5px;
    }

    p{
        color: #959595;
        font-size: 13px;
    }

    .pay-action {
        span {
            display: inline-block;
            margin-right: 10px;
            color: #d44d44;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
