<div class="associated" m-h-10 m-v-20>
    <ul class="row" dnd-sortable-container [sortableData]="listOne">
        <li class="col-2" *ngFor="let item of listOne; let i = index" dnd-sortable [sortableIndex]="i">
            <div class="img-container" placement="top" ngbTooltip="{{item.title}}" style="background-image: url(assets/images/site/pro-1.jpg)">
                <button class="del"><i icon>&#xf14e;</i></button>
            </div>
            <div class="input-group input-group-sm" m-t-10>
                <span class="input-group-addon" id="btnGroupAddon">-</span>
                <span class="form-control justify-content-center">{{item.num}}</span>
                <span class="input-group-addon" id="btnGroupAddon">+</span>
            </div>
        </li>
        <li class="col-2">
            <div class="img-container"><button class="add" (click)="OpenItemList()"><i icon>&#xf100;</i></button></div>
        </li>
        <!-- <li><i icon f-50 text-gray-lighter>&#xf102;</i></li> -->
    </ul>
</div>


