<div class="modal-header">
    <h4 class="modal-title pull-left">{{'item.editor.title'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="Dismiss('Cross Clicked')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="{{'item.editor.basic'|translate}}">
            <div class="row" align-items-center m-t-30>
                <label text-gray-light text-nowrap text-right class="col-md-2">{{'item.name'|translate}}: </label>
                <div class="col-md-3">
                    <input type="text" class="form-control" [(ngModel)]="Item.Name">
                </div>
                <!-- <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.snap'|translate}}: </label>
                            <div class="col-md-3"><input type="text" class="form-control"></div> -->
            </div>
            <div class="row" align-items-center m-t-15>
                <label text-gray-light text-nowrap text-right class="col-md-2">{{'item.snap'|translate}}:</label>
                <div class="col-md-8">
                        <input type="text" class="form-control" [(ngModel)]="Item.Snap">
                </div>
            </div>
            <div class="row" m-t-15>
                <label class="col-md-2"></label>
                <div class="col-md-5">
                    <img width="200" height="200" src="{{Item.AvatarUrl}}" />
                </div>
            </div>
            <div class="row" align-items-center m-t-15>
                <label text-gray-light text-nowrap text-right class="col-md-2" for="member-name">{{'item.pictures'|translate}}: </label>
                <div class="col-md-8">
                    <div class="img-preview" id="image-2" dnd-sortable-container [sortableData]="Item.Pictures">
                        <ng-container *ngFor="let pic of Item.Pictures; let i = index">
                            <span [style.background-image]="'url(' + pic.Path + ')'" (click)="SetAvatar(pic.Path)" dnd-sortable [sortableIndex]="i">
                                <button class="btn btn-sm btn-danger del fix" (click)="RemovePicture(pic)">{{'button.del'|translate}}</button>
                            </span>
                        </ng-container>
                    </div>
                    <button type="button" class="btn btn-lg btn-link btn-file" (click)="AddPicture()">
                        <label for="fileupload-2">
                            <i icon f-50>&#xf100;</i>
                        </label>
                    </button>
                </div>
            </div>
        </tab>
<!-- product -->
        <tab heading="{{'item.editor.property'|translate}}" *ngIf="Item.IsProduct">
            <div class="row row-all align-items-center" m-t-30 padding>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.model'|translate}}: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" min="1" [(ngModel)]="Item.Model">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.unit'|translate}}: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" min="1" [(ngModel)]="Item.Unit">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.width'|translate}}: </label>
                <div class="col-md-5">
                    <input type="number" class="form-control" min="1" [(ngModel)]="Item.Width">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.height'|translate}}: </label>
                <div class="col-md-5">
                    <input type="number" class="form-control" min="1" [(ngModel)]="Item.Height">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.depth'|translate}}: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" min="1" [(ngModel)]="Item.Depth">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-1">{{'item.weight'|translate}}: </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" min="1" [(ngModel)]="Item.Weight">
                </div>
            </div>
            <div class="card" margin-top>
                <h5 class="card-header">
                    <button class="btn-icon float-right">
                        <i icon>&#xf100;</i>
                    </button>
                    自定义类别
                </h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="33%" text-center>
                                    名称
                                </th>
                                <th width="33%" text-center>
                                    值
                                </th>
                                <th width="33%" text-center>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td text-center>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td text-right>
                                    <button class="btn btn-sm btn-danger">{{'button.del'|translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </tab>

        <tab heading="{{'item.editor.detail'|translate}}">
            <div [froalaEditor]="EditConfig" [(froalaModel)]="Item.Html" m-t-15></div>

            <!-- <quill-editor class="form-control" [options]="editorConfig" [(ngModel)]="preHtml" (blur)="onEditorBlured($event)"
            (focus)="onEditorFocused($event)" (change)="onContentChanged($event)" (ready)="OnQuillCreated($event)"></quill-editor>
            <textarea [(ngModel)]="testHtml" (ngModelChange)="PlanTextChanged($event)"></textarea> -->
        </tab>

        <tab heading="{{'item.editor.pricing'|translate}}">
            <div class="row row-all align-items-center" margin-top>
                <label text-gray-light text-nowrap class="col-md-1">{{'item.region'|translate}}: </label>
                <div class="col-md-5">
                    <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="form-control dropdown-toggle">
                            {{CurrPricing.Region}}
                            <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let region of Regions">
                                <a class="dropdown-item" href="javascript:void(0)" (click)="CurrPricing=Item.GetPricing(region.Name)">{{region.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-2">{{'item.retail'|translate}}: </label>
                <div class="col-md-4">
                    <input type="number" class="form-control" step="0.01" min="1" [(ngModel)]="CurrPricing.Retail" (keyup)="OnChange($event)">
                </div>
                <label text-gray-light text-nowrap class="col-md-1">{{'item.bulk'|translate}}: </label>
                <div class="col-md-4">
                    <input type="number" class="form-control" step="0.01" min="0" [(ngModel)]="CurrPricing.Bulk" (keyup)="OnChange($event)">
                </div>
                <label text-gray-light text-nowrap text-right class="col-md-2 offset-1">{{'item.bulkcount'|translate}}: </label>
                <div class="col-md-4">
                    <input type="number" class="form-control" min="0" step="500" [(ngModel)]="CurrPricing.BulkCount">
                </div>
                <label text-gray-light text-nowrap class="col-md-1">{{'item.distribute'|translate}}: </label>
                <div class="col-md-4">
                    <input type="number" min="0" step="0.01" class="form-control" [(ngModel)]="CurrPricing.Distribute">
                </div>
            </div>
        </tab>
<!-- Package -->
        <tab heading="{{'item.editor.related'|translate}}" *ngIf="Item.IsPackage">
            <div class="associated" m-h-10 m-v-20>
                <ul class="row" dnd-sortable-container>
                    <li class="col-2" m-b-15 *ngFor="let iter of Item.ProductInfoList; let i = index" dnd-sortable [sortableIndex]="i">
                        <div class="img-container" placement="top" tooltip="{{iter.Product.Name}}" [style.background-image]="'url('+ iter.Product.AvatarUrl +')'">
                            <div class="del" (click)="RemovePackageProduct(iter.Product)"></div>
                        </div>
                        <div class="input-group input-group-sm" m-t-10>
                            <span class="input-group-addon" id="btnGroupAddon" (click)="SubQty(iter)">-</span>
                            <span class="form-control justify-content-center">{{iter.Qty}}</span>
                            <span class="input-group-addon" id="btnGroupAddon" (click)="AddQty(iter)">+</span>
                        </div>
                    </li>
                    <li class="col-2" m-b-15>
                        <div class="img-container">
                            <button class="add" (click)="AddProduct()">
                                <i icon>&#xf100;</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </tab>
    </tabset>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="Dismiss('close button')">{{'button.close'|translate}}</button>
    <button type="button" class="btn btn-primary" (click)="Close(Item)">{{'button.ok'|translate}}</button>
</div>
