<swiper [Config]="{slidesPerView: 3, spaceBetween: 50}">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="list-relate">
                    <div class="item-box">
                        <h3>cable magic</h3>
                        <p>Cable magic USB Battery pack</p>
                        <img src="assets/images/site/relate_1.jpg">
                        <a class="btn-buy">buy now</a>
                        <a class="btn-t-r" icon>&#xf102;</a>
                    </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="list-relate">
                    <div class="item-box">
                        <h3>cable magic</h3>
                        <p>Cable magic USB Battery pack</p>
                        <img src="assets/images/site/relate_2.jpg">
                        <a class="btn-buy">buy now</a>
                        <a class="btn-t-r" icon>&#xf102;</a>
                    </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="list-relate">
                    <div class="item-box">
                        <h3>cable magic</h3>
                        <p>Cable magic USB Battery pack</p>
                        <img src="assets/images/site/relate_3.jpg">
                        <a class="btn-buy">buy now</a>
                        <a class="btn-t-r" icon>&#xf102;</a>
                    </div>
            </div>
        </div>
    </div>
</swiper>
