
.logo-tx{
    font-family: Century Gothic;
    font-size:1.6rem;
    font-weight: 800;
    display: inline-block;
    background-image: -webkit-linear-gradient(left, #3f92fc, #04bafc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.item-content{
    padding:30px 0;
}
.title-text{
    font-family: cursive;
    letter-spacing: 3px;
    font-weight: 800;
}

span[state]{
    margin:15px 0;
    display: block;
    height:2px;
    background: -webkit-linear-gradient(left, #9098d5 , #82d1cc);
    background: -o-linear-gradient(right, #9098d5 , #82d1cc);
    background: -moz-linear-gradient(right, #9098d5 , #82d1cc);
    background: linear-gradient(to right, #9098d5 , #82d1cc);

    &[w-150]{
        width:150px;
    }
    &[w-30]{
        width:30px;
    }
}

.content-container{
    margin-top: 90px;
    padding: 0;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
