.row-content{
    border-top:solid 2px #999;
    padding-top:30px;
    h5{
        padding:10px 0;
        color:#838383;
        border-bottom:dotted 1px #aeaeae;
    }
    li{
        padding:6px 0;
    }

    a{
        color:#626262;
    }
}
