.table-order {
    thead {
        th {
            padding: 10px;
        }
    }
    thead tr.spacing {
        th {
            height: 20px;
            border-left: solid 1px transparent;
            border-right: solid 1px transparent;
        }
    }
    tbody {
        td {
            border: solid 1px lighten($gray-light, 40%);
            text-align: center;
            font-size: 12px;
        }
        tr.t-title {
            background-color: lighten($gray-lighter, 5%);
        }
        tr.spacing {
            background-color: transparent;
            td {
                height: 20px;
                border: solid 1px transparent;
            }
        }
    }
}

.order-split-header {
    background-color: lighten($gray-lighter, 5%);
    ul {
        margin: 0;
        border-bottom: solid 1px white;
        &:last-child {
            border-bottom-width: 0;
        }
        li {
            padding: 10px;
        }
    }
}

.order-split-list {
    ul {
        margin: 0;
        li {
            padding: 10px;
        }
    }
}

.order-detail {
    padding:16px;
    font-size: 12px;
    .title,
    .order-content {
        label {
            padding: 0;
            text-align: right;
            color: $gray-light;
        }
    }
    .split-dash-line li{
        margin: 16px 0;
        border-bottom: dashed 1px $gray-lighter;
    }
    .pro-list{
        h2{
            font-size:14px;
            margin-bottom: 10px;
        }
        p{
            margin: 3px 0 0;
            font-size: 12px;
            color: $gray-light;
        }
    }

    .order-total{
        font-size: 15px;
        label{
            padding: 0;
            color: $gray-light;
        }
    }

}

.order-complate {
    padding: 60px 0 30px 0;
    i.icon {
        font-style: normal;
        font-size: 48px;
        color: $green;
        &:before {
            font-family: 'iconfont';
            content: "\e91c"
        }
    }
    h2 {
        margin-bottom: 15px;
        font-size: 24px;
        color: $green;
    }
    p {
        margin: 0 0 5px 0;
        font-size: 13px;
        font-weight: 600;
        color: $gray-light;
    }
}
