<div class="frame-dialog">
    <div class="frame-content">
        <table class="table table-bordered table-hover">
            <thead>
                <th width="5%"></th>
                <th></th>
            </thead>
            <tr>
                <td><label nz-checkbox></label></td>
                <td>domain</td>
            </tr>
        </table>
    </div>
    <div class="frame-footer">
        <button class="btn btn-sm btn-primary">{{'button.publish'|translate}}</button>
    </div>
</div>
