<div class="fixed-top header">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="navbar-brand"><span class="logo-tx">Ultra Creation</span></div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
            <ul class="collapse navbar-collapse navbar-snap" align-items-center>
                <li class="nav-item" dropdown>
                    <a href="javascript:void(0)" class="text-uppercase nav-link flex-box align-items-center dropdown-toggle" dropdownToggle>
                        <i icon>&#xe90d;</i>&nbsp;<a>{{App.Language|translate}}</a>&nbsp;<b class="caret"></b>
                    </a>
                    <div *dropdownMenu class="dropdown-menu">
                        <a *ngFor="let lang of App.Languages" class="dropdown-item" href="javascript:void(0)" (click)="ChangeLang(lang)">{{lang|translate}}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link flex-box align-items-center" [routerLink]="['/u']">
                        <i icon>&#xe902;</i>&nbsp;<span>{{Auth.Me.FirstName}}</span>&nbsp;<b class="caret"></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" [routerLink]="['/login']" *ngIf="! Auth.IsLogin">
                        <span>{{'button.login'|translate}}</span>
                    </a>
                    <a href="javascript:void(0)" class="nav-link flex-box align-items-center" (click)="Logout()" *ngIf="Auth.IsLogin">
                        <i icon>&#xe917;</i>&nbsp;<span>{{'button.logout'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

