
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ModalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="ButtonCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="{{'items.list.field.info'|translate}}">
                    <ng-template ngbTabContent>
                            <div class="row justify-content-md-center" align-items-center  m-t-30>
                                <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.name'|translate}}：</label>
                                <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="Name"></div>
                                <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.snap'|translate}}：</label>
                                <div class="col-md-3"><input type="text" class="form-control"></div>
                            </div>
                            <!-- <div class="row justify-content-md-center" align-items-center m-t-15>
                                <label text-gray-light text-nowrap text-right class="col-md-2" for="member-name">{{'produce.public.pro_img'|translate}}：</label>
                                <div class="col-md-8">
                                    <span class="img-preview" id="image-1">
                                        <img [src]="Product.AvatarUrl" *ngIf="Product.AvatarUrl != null">
                                    </span>
                                    <button type="button" class="btn btn-lg btn-link btn-file" *ngIf="Product.AvatarUrl == null" (click)="AddMainPicture()">
                                        <label><i icon f-50>&#xf100;</i></label>
                                    </button>
                                </div>
                            </div> -->
                            <div class="row justify-content-md-center" align-items-center m-t-15>
                                <label text-gray-light text-nowrap text-right class="col-md-2" for="member-name">{{'produce.public.pro_img'|translate}}：</label>
                                <div class="col-md-8">
                                    <div class="img-preview" id="image-2">
                                        <ng-container *ngFor="let Picture of Item.Pictures">
                                            <span>
                                                <img [src]="Picture.Path">
                                                <div class="del" (click)="RemovePicture(Picture)"></div>
                                            </span>
                                        </ng-container>
                                    </div>
                                    <button type="button" class="btn btn-lg btn-link btn-file" *ngIf="RemainingNum > 0"  (click)="AddOtherPictures()">
                                        <label for="fileupload-2"><i icon f-50>&#xf100;</i></label>
                                    </button>
                                </div>
                            </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'produce.public.commodity_attributes'|translate}}">
                    <ng-template ngbTabContent>
                        <quill-editor class="form-control" [(ngModel)]="Html" (change)="onContentChanged($event)" (ready)="onEditorCreated($event)"></quill-editor>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'produce.public.related_goods'|translate}}" *ngIf="IsPackage">
                    <ng-template ngbTabContent>
                        <div class="associated" m-h-10 m-v-20>
                            <ul class="row" dnd-sortable-container [sortableData]="Item.ProductInfoList">
                                <li class="col-2" m-b-15 *ngFor="let ProductInfo of Item.ProductInfoList; let i = index" dnd-sortable [sortableIndex]="i">
                                    <div class="img-container" placement="top" ngbTooltip="{{ItemSvc.GetCached(ProductInfo.Product).Name}}" [style.background-image]="'url('+ ItemSvc.GetCached(ProductInfo.Product).AvatarUrl +')'">
                                        <div class="del" (click)="DeleteProduct(ProductInfo.Product)"></div>
                                    </div>
                                    <div class="input-group input-group-sm" m-t-10>
                                        <span class="input-group-addon" id="btnGroupAddon" (click)="SubQty(ProductInfo)">-</span>
                                        <span class="form-control justify-content-center">{{ProductInfo.Qty}}</span>
                                        <span class="input-group-addon" id="btnGroupAddon" (click)="AddQty(ProductInfo)">+</span>
                                    </div>
                                </li>
                                <li class="col-2" m-b-15>
                                    <div class="img-container"><button class="add" (click)="OpenItemList()"><i icon>&#xf100;</i></button></div>
                                </li>
                                <!-- <li><i icon f-50 text-gray-lighter>&#xf102;</i></li> -->
                            </ul>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'produce.public.related_price'|translate}}">
                    <ng-template ngbTabContent>
                        <div class="row justify-content-md-center align-items-center" m-t-30>
                            <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.region'|translate}}：</label>
                            <div class="col-md-3">
                                <div class="btn-group" ngbDropdown>
                                    <button class="form-control" ngbDropdownToggle>{{SelectedRegion.Name}}</button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button class="dropdown-item" *ngFor="let Region of App.Regions" (click)="SelectedRegion=Region">
                                            {{Region.Name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.retail'|translate}}：</label>
                            <div class="col-md-3"><input type="number" class="form-control" min="1" [(ngModel)]="CurrPricing.Retail"></div>
                        </div>
                        <div class="row justify-content-md-center align-items-center" m-t-10>
                            <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.bulkCount'|translate}}：</label>
                            <div class="col-md-3"><input type="number" class="form-control"  min="0" [(ngModel)]="CurrPricing.BulkCount"></div>
                            <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.bulk'|translate}}：</label>
                            <div class="col-md-3"><input type="number" class="form-control" min="0" [(ngModel)]="CurrPricing.Bulk"></div>
                        </div>
                        <div class="row justify-content-md-center align-items-center" m-t-10>
                            <label text-gray-light text-nowrap text-right class="col-md-2">{{'items.list.field.distribute'|translate}}：</label>
                            <div class="col-md-3"><input type="number" min="0" class="form-control" [(ngModel)]="CurrPricing.Distribute"></div>
                            <label class="col-md-2"></label>
                            <div class="col-md-3"></div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="ButtonCancel()" >{{'button.close'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="ButtonOK()" >{{'button.ok'|translate}}</button>
    </div>
