<div class="container-layer" style="min-height:600px">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-file-upload">
                <label for="upload_file">{{'button.add'|translate}}</label>
                <input type="file" id="upload_file" (change)="UploadImage($event.target.files)" accept=".jpg, .jpeg, .png" multiple>
            </button>
            <button type="button" class="btn btn-primary" (click)="RemoveFiles()">{{'button.del'|translate}}</button>
        </div>
    </div>
    <div #content>
        <ul class="row row-thumbnail" margin-top>
            <li class="col-2" *ngFor="let f of Items" (click)="FileClicked(f)">
                <div class="img-container" [style.background-image]="'url('+ f.Path +')'"></div>
                <ng-template [ngIf]="Selected.has(f)">
                    <div class="flex-btn">
                        <button class="btn-select"></button>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer" *ngIf="IsModal">
    <button type="button" class="btn btn-default" (click)="ButtonCancel()" >{{'button.cancel'|translate}}</button>
    <button type="button" class="btn btn-primary" (click)="ButtonOK()" >{{'button.ok'|translate}}</button>
</div>
