<div class="bread-layer" *ngIf="IsTitle">
        pictures
</div>

<div class="container-layer">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn-file-upload" (click)="OnSelectedEnd()">
                <label for="upload_file"><i icon f-50>&#xf100;</i></label>
                <input type="file" id="upload_file" (change)="UploadImage($event.target.files)" accept=".jpg, .jpeg, .png" multiple>
            </button>
        </div>
    </div>
    <ul class="row row-thumbnail" margin-top>
        <li class="col-2" *ngFor="let UploadedFile of UploadedFiles" (click)="SelectedPicture(UploadedFile)">
            <img [src]="UploadedFile.Path">
            <!-- <ng-template [ngIf]="UploadedFile.selected"> -->
                <div class="flex-btn">
                    <button class="btn-select"><i icon>&#xf3ff;</i></button>
                </div>
            <!-- </ng-template> -->
        </li>
    </ul>
</div>
